{% extends 'base.html' %}
{% block content %}

<div class="row pt-3">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid ">
    </div>
    <div class="col-6 pt-3">
        <a href="{{ product.url }}"> <h3>{{ product.title }}</h3> </a>
        <br>
        <h6><span class="oi oi-magnifying-glass"></span>Hunted by: <strong>{{ product.hunter.username }}</strong></h6>
        
        <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary bt-lg btn-block"><span class="oi oi-thumb-up"></span>Upvote {{ product.votes_total }}</button> </a>
        <br><br>
        <p><span class="oi oi-clock"></span> {{ product.pub_date }}</p>
    </div>
    
</div>
<br>
<div class="row">
    <div class="col-8">
        <p>{{ product.body }}</p>
    </div>
    
</div>

<form id = "upvote" method="POST" action="{% url 'upvote' product.id %}">
{% csrf_token %}
<input type="hidden">
</form>

{% endblock %}